body{
    background-image:url(black-frame-with-copy-space-top-view.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: cover;
    color: beige;
}
.nav{
    display: flex;
    gap: 100px;
    padding-left: 700px;
    background-color: rgb(0, 167, 244);
    
}
h1{
    color:red;
}
.personal{
    border:1px solid black;
    
}
img{
    display: flex;
    height: 300px;
    width: 300px;
    
    border-radius: 50%;
    padding-left: 500px;
    padding-right: 500px;
}
.Education{
    border:1px solid black;
}
.footer{
    border:1px solid black;
    background-color: blue;
    text-align: center;
    gap: 10px;
    display: flex;
    padding-left: 500px;
}
.f1{
    border:1px solid black;
    align-items: center;
    text-align: center;
    color: beige;
    font-style: italic;
    padding-top: 200px;
    padding-bottom: 200px;
}
